*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.copyright {
    font-size: 9pt;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
}

.conteiner{
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}
.main-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header{
    width: 50%;
}
.main-header > img
{
width: 25%;
}
.social_buttons{
    margin-top: 15px;
}
.top-header{
display: flex;
justify-content: space-between;
align-items: centers;
}
.About {

    color: black;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url("../Images/header_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 50px;

}

    
.navigation ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.navigation ul li a{
    text-decoration: none;
    padding-bottom: 2px;
    text-transform:uppercase;
    font-size: 14px;
    color: white;
    position: relative;
    cursor: pointer;
    
  
}
.navigation ul li a:after{
background-color: white;
position: absolute;
top: 100%;
left: 0;
content: '';
width:  0;
height: 2px;
transition: all 0.35s ease-in-out;
}
.navigation ul li a:hover:after{
width: 100%;
}